@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "ChenYuLuoYan";
  src: url("../fonts/handwrite/ChenYuLuoYan/ChenYuluoyan-Thin-Monospaced.ttf");
}

@font-face {
  font-family: "Iansui";
  src: url("../fonts/serif/Iansui-Regular.ttf");
}
@font-face {
  font-family: "LXGWWenKai";
  src: url("../fonts/serif/LXGWWenKai-Regular.ttf");
}
@font-face {
  font-family: "GanWanMing";
  src: url("../fonts/serif/GenWanMinTW-SB-01.ttf");
}
@font-face {
  font-family: "FiraCode";
  src: url("../fonts/monospace/FiraCode/variable_ttf/FiraCode-VF.ttf");
}
@font-face {
  font-family: "WD-XL";
  src: url("../fonts/monospace/WD-XLLubrifontTC-Regular.otf");
}

.body {
  @apply bg-gray-300;
}
.body [data-theme="dark"] {
  @apply bg-gray-700;
}
